---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import Footer from "../../../../components/Footer.astro";
import NavBar from "../../../../components/NavBar.astro";
import ToggleTheme from "../../../../components/ToggleTheme.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: {
            year: post.data.date.getFullYear(),
            month: (post.data.date.getMonth() + 1).toString().padStart(2, "0"),
            slug: post.slug,
        },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
const { title, date, updated, cover_image } = post.data;
---

<BaseLayout>
    <NavBar />
    <ToggleTheme />
    <main class="container mx-auto">
        <article class="prose">
            {
                cover_image && (
                    <img width={720} height={360} src={cover_image} alt="" />
                )
            }
            <h1>{title}</h1>
            {
                date && (
                    <div>
                        Posted on <time>{date.toLocaleDateString()}</time>
                    </div>
                )
            }
            {
                updated && (
                    <div>
                        Updated on <time>{updated.toLocaleDateString()}</time>
                    </div>
                )
            }
            <hr />
            <Content />
        </article>
    </main>
    <Footer />
</BaseLayout>
