@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
}

@plugin "./catppuccinTheme.latte.ts";
@plugin "./catppuccinTheme.frappe.ts";

@theme {
  --font-sans: var(--font-mplus2);
  --font-serif: var(--font-mplus2);
  --font-mono: var(--font-mplus1-code);
}

.body {
  overflow: hidden;
}

.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}
