---
import BaseLayout from "../layouts/BaseLayout.astro"
import BaseWallpaper from "../components/BaseWallpaper.astro"
import Footer from "../components/Footer.astro"
import NavBar from "../components/NavBar.astro"
import TimeLine from "../components/TimeLine.astro"
import ToggleTheme from "../components/ToggleTheme.astro"
import TwitterFollow from "../components/TwitterFollow.astro"
---

<BaseLayout twitter="true">
  <BaseWallpaper>
    <NavBar />
    <ToggleTheme />
    <main class="container mx-auto w-5/6 lg:w-2/3">
      <h1 class="my-5 text-4xl font-bold">About Me</h1>
      <div class="avatar my-5">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="/author.jpg" alt="author" />
        </div>
      </div>
      <h2 class="my-5 text-2xl">Yoshio Sugiyama - 杉山 禎夫</h2>
      <div class="my-10 text-justify">日本ヒューレット・パッカードでインフラ/AIエンジニアをしています。</div>

      <h2 class="my-5 text-2xl font-bold">Contact</h2>
      <img src="/mail.png" alt="email" />
      <TwitterFollow />

      <div class="card card-border shadow-lg my-10 bg-base-100/80">
        <div class="card-body">
          <h2 class="card-title text-2xl mb-3">Role</h2>
          <div class="time-line-container">
            <TimeLine title="Applied AI Engineer" />
            <TimeLine title="AI Platform Engineer" />
          </div>
        </div>
      </div>

      <div class="card card-border shadow-lg my-10 bg-base-100/80">
        <div class="card-body">
          <h2 class="card-title text-2xl mb-3">Skill</h2>
          <div class="time-line-container">
            <TimeLine title="Machine Learning, Deep Learning, Generative AI" />
            <TimeLine title="Data Management" />
            <TimeLine title="Kubernetes, OpenShift" />
            <TimeLine title="Automation, Ansible" />
            <TimeLine title="Python" />
            <TimeLine title="Git" />
            <TimeLine title="Neovim" />
          </div>
        </div>
      </div>

      <div class="card card-border shadow-lg my-10 bg-base-100/80">
        <div class="card-body">
          <h2 class="card-title text-2xl mb-3">Hobby</h2>
          <div class="time-line-container">
            <TimeLine title="Ski" />
            <TimeLine title="Futsal" />
            <TimeLine title="Final Fantasy VII, Tactics" />
            <TimeLine title="F1" />
            <TimeLine title="Rugby" />
            <TimeLine title="Quiz" />
          </div>
        </div>
      </div>

      <div class="card card-border shadow-lg my-10 bg-base-100/80">
        <div class="card-body">
          <h2 class="card-title text-2xl mb-3">Recent Activity</h2>
          <div class="time-line-container">
            <TimeLine title="NVIDIA-Certified Associate - AI Infrastructure and Operations" date="2025/7" />
            <TimeLine
              title="担当プロジェクト 公開事例"
              date="2025/5"
              link_title="HPEのプライベートAIクラウド「HPE Private Cloud AI」を国内初導入"
              link_url="https://www.scsk.jp/news/2025/pdf/20250516i.pdf"
            />
            <TimeLine
              title="イベント登壇 - HPE Discover More AI 東京 2025"
              date="2025/1"
              link_title="AIの本格活用を加速させるPrivate LLM"
              link_url="http://www.hpe.com/jp/discover"
            />
            <TimeLine title="HPE Product Certified - AI and Machine Learning" date="2024/10" />
            <TimeLine
              title="メディア取材 - キャリア紹介"
              date="2024/8"
              link_title="データ&AIスペシャリストの道を切り開く──最先端技術の追求を支えるHPEの魅力"
              link_url="https://www.talent-book.jp/hpe/stories/55214"
            />
            <TimeLine
              title="メディア取材 - ソリューション紹介"
              date="2024/3"
              link_title="知っておきたい「AIモデル開発」の裏側　専門家が考える“成功への近道”とは？"
              link_url="https://techtarget.itmedia.co.jp/tt/news/2403/07/news02.html"
            />
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </BaseWallpaper>
</BaseLayout>
