---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeWallpaper from "../components/HomeWallpaper.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import { SITE_TITLE } from "../config";
---

<BaseLayout>
    <HomeWallpaper>
        <ToggleTheme />
        <main>
            <h1 class="mb-5 text-4xl font-bold">{SITE_TITLE}</h1>
            <p class="mb-2 text-lg">
                Hi, I'm SUGIYAMA Yoshio who is an infrastructure / ML engineer
                at HPE. I like IMO and KURI.
            </p>
            <div class="tooltip tooltip-bottom" data-tip="About Me">
                <a href="/about">
                    <button class="btn btn-ghost text-lg" aria-label="About Me">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </div>
            <div class="tooltip tooltip-bottom" data-tip="Blog">
                <a href="/blog">
                    <button class="btn btn-ghost text-lg" aria-label="Blog">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                </a>
            </div>
            <div class="tooltip tooltip-bottom" data-tip="Project">
                <a href="/project">
                    <button class="btn btn-ghost text-lg" aria-label="Project">
                        <i class="fa-solid fa-code"></i>
                    </button>
                </a>
            </div>
        </main>
    </HomeWallpaper>
</BaseLayout>
