---
import { getCollection } from "astro:content"

const allPosts = await getCollection("blog")
const tags = [...new Set(allPosts.map(post => post.data.tags).flat())].sort((a, b) => a.localeCompare(b))

const tagCounts = allPosts
  .flatMap(post => post.data.tags)
  .reduce(
    (acc: Record<string, number>, tag: string) => {
      acc[tag] = (acc[tag] || 0) + 1
      return acc
    },
    {} as Record<string, number>
  )
---

<details class="dropdown dropdown-end float-right z-40">
  <summary class="btn btn-ghost text-lg m-1"><i class="fa-solid fa-tags"></i>Tags</summary>
  <ul class="dropdown-content menu p-2 shadow bg-base-200 rounded-box w-52">
    {
      tags.map(tag => (
        <li>
          <a href={`/tag/${tag}`}>
            {tag} <span class="text-xs">({tagCounts[tag]})</span>
          </a>
        </li>
      ))
    }
  </ul>
</details>
