---
import type { CollectionEntry } from "astro:content"

export interface Props {
  post: CollectionEntry<"data">
}

const { post } = Astro.props
---

<a href={`/activity/data/${post.data.slug}`}>
  <div class="card card-border hover:shadow-2xl shadow-lg hover:scale-[101%] my-10 bg-base-100/80">
    <div class="card-body">
      <h2 class="card-title">{post.data.title}</h2>
      <p class="text-sm">
        <i class="fa-solid fa-file-lines"></i>
        Updated on {post.data.updated.toLocaleDateString()}
      </p>
      <p>{post.data.description}</p>
    </div>
  </div>
</a>
