---
import Snow from "./Snow.astro"
---

<Snow />

<div class="min-h-screen bg-[url(/wallpaper.png)] bg-cover bg-center bg-fixed">
  <div class="min-h-screen bg-base-100/90">
    <slot />
  </div>
</div>
