---
const { title, description, link } = Astro.props;
---

<a href={`/project/${link}`}>
    <div class="card card-bordered hover:shadow-2xl shadow-lg hover:scale-[101%] my-10 bg-base-100">
        <div class="card-body">
            <h2 class="card-title">{title}</h2>
            <p>{description}</p>
        </div>
    </div>
</a>
